.top-container
  .center-buttons
    - if @friends.length != 0
      %span.friend-day-icon.back{id: "/friends/#{@friends[0].follower_id}/otherday/#{Date.today-1}"}
        = icon('fas', 'chevron-left')
      %span.day_display
        = Date.today
      %span.friend-day-icon.front{id: "/friends/#{@friends[0].follower_id}/otherday/#{Date.today+1}"}
        = icon('fas', 'chevron-right')

.friends-wrapper
  .friends-container
    仲間たち
    = link_to new_friend_path, class: "friends-container__button" do
      "追加・編集"
    %ul.friends-list
      - if @friends.length == 0
        %p.add-anounce
          上のボタンから友達を追加しましょう！！！
      - @friends.each do |friend|
        %li.friends-list__item{id: "/friends/#{friend.follower.id}/otherday/#{Date.today}"}
          = friend.follower.name
  .friend-schedule
    .schedule-wrapper__plan      
      - 16.times do |i|
        %span.schedule-wrapper__hour{style: "grid-column: #{i*4+1} / #{i*4+5}; grid-row: 2/3;"}
          = i+6
