.edit-container
  .edit-container__display
    .detail-container
      %p.detail-container__detail
        = @schedule.start_time.strftime('%H:%M')
      %span 〜
      %p.detail-container__detail
        = @schedule.finish_time.strftime('%H:%M')
      %p.detail-container__detail
        = @schedule.name
  .edit-cantainer__form
    %p 実績を入力してください。
    = form_with model: @schedule, url: schedules_path, local: true do |f|
      = f.time_select :started_time, default: @schedule.start_time, minute_step: 15
      %span 〜
      = f.time_select :finished_time, default: @schedule.finish_time, minute_step: 15
      = f.submit "登録", class: "add-schedule blue-button"