.edit-container
  .edit-container__display
    .detail-container
      %p.detail-container__detail
        = @schedule.start_time.strftime('%H:%M')
      %span 〜
      %p.detail-container__detail
        = @schedule.finish_time.strftime('%H:%M')
      %p.detail-container__detail
        = @schedule.name
  .edit-cantainer__form
    %p 実績を入力してください。
    = form_with model: @schedule, url: schedule_path(@schedule.id), method: :patch, local: true do |f|
      - if @schedule.started_time
        = f.time_select :started_time, default: @schedule.started_time, minute_step: 15
      -else
        = f.time_select :started_time, default: @schedule.start_time, minute_step: 15
      %span 〜
      - if @schedule.finished_time
        = f.time_select :finished_time, default: @schedule.finished_time, minute_step: 15
      -else
        = f.time_select :finished_time, default: @schedule.finish_time, minute_step: 15
      = f.color_field :color, value: @schedule.color
      = f.submit "登録", class: "add-schedule blue-button"