.container
  .form-field
    =form_with model: @schedule, local: true, class: "form-field__form" do |f|
      = f.text_field :name, placeholder: "スケジュール名を入力してください。"
      = f.label :color
      = f.color_field :color, value: "#ffffff"
      = f.time_select :start_time, default: Time.now, minute_step: 15
      %span 〜
      = f.time_select :finish_time, default: Time.now + 3600, minute_step: 15
      = f.submit "登録", class: "add-schedule blue-button"
  
  .button-container
    .left-buttons
      = link_to spreadsheet_schedules_path, class: "left-buttons__left pink-button" do
        csv出力
      = link_to friends_path, class: "left-buttons__right blue-button" do
        仲間たち

    .center-buttons
      = link_to "#", class: "day-icon back", id: "/schedules/#{@schedule.sche_day-1}/otherday" do
        = icon('fas', 'chevron-left')
      %span.day_display
        = @schedule.sche_day
      = link_to "#", class: "day-icon front", id: "/schedules/#{@schedule.sche_day+1}/otherday" do
        = icon('fas', 'chevron-right')

    .right-buttons
      = link_to destroy_user_session_path, method: :delete, class: "pink-button" do
        ログアウト
  
  .schedule-wrapper
    .schedule-wrapper__display
      %p.plan 予定
      %p.done 実績

    .schedule-wrapper__plan
      - @schedules.each do |schedule|
        .task{ style: "grid-column: #{@width_records[schedule.id][0]}/#{@width_records[schedule.id][1]}; grid-row: 1/2; background-color: #{schedule.color};"}
          = link_to edit_schedule_path(schedule.id) do
            =schedule.name
        - if schedule.started_time && schedule.finished_time
          .task{ style: "grid-column: #{@width_records[schedule.id][2]}/#{@width_records[schedule.id][3]}; grid-row: 3/4; background-color: #{schedule.color};"}
            =schedule.name
      
      - 16.times do |i|
        %span.schedule-wrapper__hour{style: "grid-column: #{i*4+1} / #{i*4+5}; grid-row: 2/3;"}
          = i+6
