.edit-wrapper
  .edit-schedule
    = form_with url: "#", method: :patch, local: true, class: "edit-schedule__form" do |f|
      %ul
        %li
          %span 開始時刻
          = f.time_select :started_time, minute_step: 15
        %li
          %span 終了時刻
          = f.time_select :finished_time, minute_step: 15
        %li.sub-btn
          = f.submit "登録", class: "send-done"
        %li.close-btn 閉じる
.container
  = @message
  =form_with model: @schedule, local: true, class: "form-field__form" do |f|
    .form-field
      .form-field__left
        = f.text_field :name, placeholder: "スケジュール名を入力してください。"
        = f.label :color
        = f.color_field :color, value: "#ffffff"
      .form-field__right
        = f.time_select :start_time, default: Time.now, minute_step: 15
        %span 〜
        = f.time_select :finish_time, default: Time.now + 3600, minute_step: 15
        = f.submit "登録", class: "add-schedule blue-button"
  
  .button-container
    .left-buttons
      -# = link_to spreadsheet_schedules_path, class: "left-buttons__left pink-button" do
      = link_to "#", class: "left-buttons__left pink-button left-buttons__child" do
        csv出力
      = link_to friends_path, class: "left-buttons__right blue-button left-buttons__child" do
        仲間たち
      = link_to edidel_schedules_path, class: "denger-button left-buttons__child" do
        編集/削除

    .center-buttons
      = link_to "#", class: "day-icon back", id: "/schedules/#{@schedule.sche_day-1}/otherday" do
        = icon('fas', 'chevron-left')
      %span.day_display
        = @schedule.sche_day
      = link_to "#", class: "day-icon front", id: "/schedules/#{@schedule.sche_day+1}/otherday" do
        = icon('fas', 'chevron-right')

    .right-buttons
      = link_to api_schedules_path, class: "twitter-icon", method: :post do
        = icon('fab', 'twitter')
      
      

  .under-leftbuttons
    = form_with url: spreadsheet_schedules_path, local: true do |f|
      %span 期間：
      = f.date_field :s_date
      %span 〜
      = f.date_field :e_date
      %span ダウンロード
      = f.check_box :download_flug
      = f.submit "出力"
  
  .schedule-wrapper
    .schedule-wrapper__display
      %p.plan 予定
      %p.done 実績

    .schedule-wrapper__plan
      - @schedules.each do |schedule|
        .task{"data-schedule_id": "#{schedule.id}", style: "grid-column: #{@width_records[schedule.id][0]}/#{@width_records[schedule.id][1]}; grid-row: 1/2; background-color: #{schedule.color};"}
          %span
            =schedule.name
        - if schedule.started_time && schedule.finished_time
          .task{ style: "grid-column: #{@width_records[schedule.id][2]}/#{@width_records[schedule.id][3]}; grid-row: 3/4; background-color: #{schedule.color}; cursor: default;"}
            =schedule.name
      
      - 16.times do |i|
        %span.schedule-wrapper__hour{style: "grid-column: #{i*4+1} / #{i*4+5}; grid-row: 2/3;"}
          = i+6
