!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title PlaPer
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application'
    = stylesheet_link_tag 'https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap', media: 'all', 'data-turbolinks-track': 'reload'
  %body
    %header.main-title
      %h1.main-title__title
        = link_to "予定 - 実績 管理アプリ", "/", class: "main-title__toplink"
        %span.login-username
          - if current_user
            = current_user.name
    = yield
